.searched-tag-container ul {
  list-style: none;
  padding: 0;
}

.searched-tag-container ul li {
  float: left;
  margin-right: 10px;
}

.search-result-container ul {
  display: block;
  list-style: none;
}

.search-result-container {
  clear: both;
  padding-top: 20px;
}

.tag {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.tag-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.tag-inactive {
  background-color: #84B4DC;
  border-color: #7CABD4;
}

.remove-tag {
  cursor: pointer;
  position: relative;
  background-color: #fff;
  color: #4c4c4c;
  left: -10px;
  float: right;
  height: 15px;
  width: 15px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  text-align: center;
  top: -5px;
  border: 1px solid #4c4c4c;
  font-size: 6px;
  margin-right: -12px;
}

